.container {
  margin:15px 0 0 0;
  padding: 0 0 120px 0;

  .grid {
    display: grid;
    grid-gap:12px;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0 0 0;

    div.video-container {
      border-radius: 15px;
      display: inline-block;
      background: #EBECF0;
      box-shadow: 7px 6px 13px #bec1ce, -3px -10px 16px #ffffff;

      img {
        border-radius: 15px 15px 0 0;
        width:100%;
        height:auto;
      }
      p {
        margin: 10px;
        line-height: 1.3em;
        text-shadow: 1px 1px 0px #FFFFFF;
      }
    }
  }

}
